body {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .one {
    background: pink;
    border: 3px solid blue;
    /* CHANGE ME */
    padding: 15px 15px 15px 40px;
    margin: 10px;
  }
  
  .two {
    background: lightblue;
    border: 3px solid purple;
    /* CHANGE ME */
    margin-bottom: 0px;
  }
  
  .three {
    background: peachpuff;
    border: 3px solid brown;
    width: 100px;
    /* CHANGE ME */
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 50px;
    margin-left: 360px;
  }